
h1, li a:hover {
  color: #039be5;
}

fieldset {
  background-color: #7cdcdd;
  font-family: Serif;
  text-align-all: center;
  border-radius: 0px 176px 0px 192px;
  -moz-border-radius: 0px 176px 0px 192px;
  -webkit-border-radius: 0px 176px 0px 192px;
  border: 21px inset #d4bdd4;
}

h1 {
  text-align: center;
  color: #593f3f;
}


#AddEmployee {
  text-align: right;
  padding: 50px;
}

ul {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 535px;
  position: relative;
}

li {
  margin: 0 auto;
  display: inline-block;
  list-style: none;
  padding: 0;
}

a {
  padding: 25px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  text-shadow: 1px 0px;
  color: grey;
  letter-spacing: .2em;
  text-decoration: none;
  transition: color 200ms;
  transform-style: preserve-3d;
}
:hover {
  color: cyan;
}
:after {
  content: attr(data-title);
  position: absolute;
  display: block;
  text-shadow:none;
  top: 29%;
  left: 18px;
  padding: 5px 7px;
  color: transparent;
}



